<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="licenseFile">Upload license</label>
    <input type="file" id="licenseFile" (change)="onFileChange($event)" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
  </div>
  <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
  <button type="button" class="btn btn-sm btn-default" (click)="showFile()">show license file</button>
  <pre *ngIf="licenseFile && licenseFile.length > 0" class="xmlArea lang-xml">{{licenseFile}}</pre>
  <button type="button" class="btn btn-sm btn-default" (click)="deleteFile()" *ngIf="licenseFile && licenseFile.length > 0">delete it</button>
</form>
